$boltFromTheBlue: #2672FB;
$pigIron: #494949;
$platinumGranite: #7E7E7E;
$harbourFog: #B1B1B1;
$biscay: #2F3B54;
$cloudless: #D4E3FE;
$eerieBlack: #1D1D1D;
$direWolf: #282828;
$carbon: #333333;
$deadPixel: #3A3A3A;
$smokedPearl: #656565;
$spanishGrey: #979797;
$codexGrey: #9C9C9C;
$magnesium: #C2C2C2;
$sunnyPavement: #D8D8D8;
$youngNight: #232323;
$white: #FFFFFF;
$fortressGrey: #b8b8b8;
$rebellionRed: #CB0704;
$black: #000000;
$nordicBreeze: #D3D9E6;
$skinnyJeans: #5D96FC;
$birdsChild: #FFE200;
$blueEmulsion: #D1ECF1;
$lightPinkTone: #f8d7da;
$stainedGlass: #586687;
$summerSky: #33b5e5;
$buddhasLoveHandles: #ffbb33;
$tomatoFrog: #ff4444;
$luseGreen: #00C851;
$springtimeRain: #EDEEF3;
$englishManor: #707DA1;
$englishManorLight: rgba(112, 125, 161, 0.51);
$rockBlue: #949FBB;
$fern: #3DCC93;
$tropicalBreeze: #eaeced;
$drWhite: #fbfbfb;
$barelyBlue: #dfdfdf;
$trueSkyGloxym: #92B8FD;
$iceColdStare: #B3CEFE;
$verseGreen: #148B14;
$dresdenDoll: #8DA2C6;
$dillyBlue: #33475b;
$whiteSolid: #f5f8fa;
$lightAngoraBlue: #cbd6e2;
$hotCoral: #f2545b;
$brunneraBlue: #98AACC;
$blackKnight: #020A11;
$chambrayBlue: #A2B2D2;
$buster: #3D4A68;
$snowflake: #F0F0F0;
$lemonFlesh: #f2ed8e;
$lemonFleshDark: rgba(242, 237, 142, .05);
$entanRed: #f26c51;
$entanRedDark: rgba(242, 108, 81, .05);
$redStop: #fb211e;
$turmericRoot: #FDB00D;
$solitude: #E9ECF2;
$moradoPurple: #955DCF;
